@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #161616;
    color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;

}
.TitleHighlight {
    color:aqua;
}
.apresentation {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentation__content {
    width: 615px;
    height: 452px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}
.apresentation__content__title {
    font-family: "Krona One", sans-serif;
    font-size: 36px;
}
.apresentation__content_text {
    font-size: 24px;
}
.profilePicture {
    width: auto;
    height: 457px;

}
.apresentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.button {
    display: flex;
    justify-content: center;

    border: 2px solid aqua;
    width: 378px;
    padding: 15px;
    border-radius: 8px;
    gap: 15px;

    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.button:hover {
    background-color: #202020;
}
.mainFooter {
    background-color: #202020;
    
    padding: 25px;

    text-align: center;
    font-size: 20px;
}
