@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{

    --primaryColor: #161616;
    --secundaryColor: #f6f6f6;
    --tertiaryColor: #22D4FD;
    --buttonInteraction: paleturquoise;

    --font-title: "Krona One", sans-serif;
    --fontText: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--primaryColor);
    color: var(--secundaryColor);
    font-family: var(--fontText);

}
.header{
    padding: 2% 0 0 15%;
}
.header__menu{
    display: flex;
    gap: 80px;
}
.header__menu__button{
    color: var(--tertiaryColor);
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}
.TitleHighlight {
    color:var(--tertiaryColor);
}
.apresentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentation__content__title {
    font-family: var(--font-title);
    font-size: 36px;
}
.apresentation__content_text {
    font-size: 24px;
}
.profilePicture {
    width: auto;
    height: 457px;

}
.apresentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.button {
    display: flex;
    justify-content: center;

    border: 2px solid var(--tertiaryColor);
    width: 378px;
    padding: 15px;
    border-radius: 8px;
    gap: 15px;

    text-decoration: none;
    color: var(--secundaryColor);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.button:hover {
    background-color: var(--primaryColor);
}
.mainFooter {
    background-color: var(--primaryColor);
    
    padding: 25px;

    text-align: center;
    font-size: 20px;
}

.section__curriculum{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section__curriculum__div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.section__curriculum__link{
    text-decoration: none;
    color: var(--buttonInteraction);
    font-weight: 600;
}
.section__curriculum__link:hover{
    color: var(--tertiaryColor);
}