@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
:root{

    --primaryColor: #161616;
    --secundaryColor: #f6f6f6;
    --tertiaryColor: #22D4FD;
    --quaternaryColor: #212121;
    --linkInteraction: paleturquoise;

    --font-title: "Krona One", sans-serif;
    --fontText: Arial, Helvetica, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--primaryColor);
    color: var(--secundaryColor);
    font-family: var(--fontText);

}
.header{
    padding: 2% 0 0 15%;
}
.header__menu{
    display: flex;
    text-align: center;
    gap: 80px;
}
.header__menu__button{
    color: var(--tertiaryColor);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
}
.TitleHighlight {
    color:var(--tertiaryColor);
}
.apresentation {
    padding: 5% 15%;
    display: flex;
    gap: 82px;
    align-items: center;
    justify-content: space-between;
}
.apresentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}
.apresentation__content__title {
    font-family: var(--font-title);
    font-size: 2.25rem;
}
.apresentation__content_text {
    font-size: 1.5rem;
}
.profilePicture {
    width: 35%;

}
.apresentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.button {
    display: flex;
    justify-content: center;

    border: 2px solid var(--tertiaryColor);
    width: 50%;
    padding: 15px;
    border-radius: 8px;
    gap: 15px;

    text-decoration: none;
    color: var(--secundaryColor);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.button:hover {
    background-color: var(--quaternaryColor);
}
.mainFooter {
    background-color: var(--quaternaryColor);
    
    padding: 25px;

    text-align: center;
    font-size: 1.25rem;
}

.section__curriculum{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.section__curriculum__div{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.section__curriculum__link{
    text-decoration: none;
    color: var(--linkInteraction);
    font-weight: 600;
}
.section__curriculum__link:hover{
    color: var(--tertiaryColor);
}
@media (max-width:1660px){
    .header{
        padding: 10% 8% 0% 8%;
    }
    .header__menu{
        justify-content: center;
        gap: 5%;
    }
    .apresentation{
        padding: 8%;
        flex-direction:column-reverse;
    }
    .apresentation__content{
        width: auto;
    }

}
@media(max-width:692px){
    .header__menu__button{
        font-size: 1rem;
    }
    .apresentation__content__title{
        font-size: 1.3rem;
    }
    .apresentation__content_text{
        font-size: 1.1rem;
    }
}